<div class="row">
  <div style="float: left; width: 33%">
    <a href="home" style="position: fixed; z-index: 1"
      ><img
        src="https://i.postimg.cc/Vv3xzJbZ/navLogo.png"
        alt="logo"
        height="80rem"
    /></a>
  </div>
  <div style="float: right; text-align: center; width: 33.33%">
    <div>Call us!</div>
    <div style="font-size: large">573 555-1212</div>
  </div>
  <div style="text-align: right; width: 33.33%">
    <div>338 Broadway St.</div>
    <div>Cape Girardeau, MO</div>
  </div>
</div>

<nav
  class="navbar navbar-dark navbar-expand-md my-2 mx-auto py-0"
  style="background-color: #304A61"
>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    style="display: flex; justify-content: center"
  >
    <ul class="navbar-nav ml-center">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="inventory">Inventory</a>
      </li>
    </ul>
  </div>
</nav>
