<nav class="navbar navbar-light bg-light navbar-expand-lg mb-4">
  <div class="navbar-header">
    <a href="#" class="navbar-brand">
      <img src='https://cdn07.carsforsale.com/CustomTemplatePhotos/1005340/images/logo-white.badf4313.png' alt="logo" height="80rem">
    </a>
  </div>
  <div
    class="navbar-collapse collapse"
    id="navbarToggler"
    [class.collapse]="collapsed"
    (window:resize)="collapsed = true"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="inventory" routerLinkActive="active">Inventory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="vehicle" routerLinkActive="active">Vehicles</a>
        </li>
      </ul>
  </div>
</nav>
<div class="container">
      <a href="#" class="navbar-brand">
      <img src='' alt="logo" height="80rem">
    </a>
</div>
