<div class="col-md-12">
  <a
    class="list-group-item clearfix"
    style="cursor: pointer"
    [routerLink]="['/', 'vehicle', idx]"
    routerLinkActive="active"
  >
    <div class="col-md-9 float-right">
      <h3 class="list-group-item-heading">
        {{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}
        {{ vehicle.trim }}
      </h3>
      <h4 style="text-shadow: 2px 2px 5px chartreuse">
        &#36;{{ vehicle.price }}
      </h4>
    </div>

    <div class="col-lg-3 float-left">
      <img
        class="img-resposive rounded"
        src="{{ vehicle.coverImagePath }}"
        alt="IMG"
        style="max-height: 8rem"
      />
    </div>
  </a>
</div>

