<div class="row">
  <div class="col-md-6">
    <img src="{{ vehicle.coverImagePath }}" alt="" style="max-height: 75%" />
  </div>

  <div class="col-md-6">
    <h1 style="display: inline">
      {{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}
    </h1>
    <h3 class="float-right" style="text-shadow: 2px 2px 5px chartreuse">
      &#36;{{ vehicle.price }}
    </h3>
    <hr />
    <h6>{{ vehicle.details }}</h6>
    <p style="font-weight: 600;">If you have any questions, give us a call at (573) 555-1212 or come on by!</p>
    <br>
    <div style="column-count: 2">
      <ul>
        <li><label for="engine">Engine:</label> {{vehicle.engine}} </li> <li><label for="exterior">Exterior:</label> {{vehicle.exterior}}</li>
        <li><label for="Trans">Trans:</label> {{vehicle.trans}} </li> <li><label for="interior">Interior:</label> {{vehicle.interior}}</li>
        <li><label for="drive">Drive:</label> {{vehicle.drive}} </li> <li><label for="Miles">Miles:</label> {{vehicle.miles}}</li>
      </ul>
    </div>
  </div>
</div>
