<div class="row justify-content-center">
  <img src="https://i.postimg.cc/Yq2gHGDn/the-keys2.jpg" alt="" />
</div>
<hr />
<div
  class="row justify-content-center"
  style="font-size: x-large; background-color: #304A61; color: white"
>
  Inventory
</div>
<div
  class="row justify-content-center"
  style="font-size: large; color: white; background-color: #2868a1"
>
  <span>
    <a href="" class="col-2" style="color: white;">Trucks</a>
    <a href="" class="col-2" style="color: white;">Coupes</a>
    <a href="" class="col-2" style="color: white;">Sedans</a>
    <a href="" class="col-2" style="color: white;">SUVs</a>
  </span>
</div>

<label for="featured" style="font-size: small; font-style: italic"
  >Featured:</label
>
<div class="row justify-content-center">
  <div
    class="col-sm-3"
    style="margin-right: 8%"
    *ngFor="let currentVehicle of myVehicles | slice:0:3; let i = index"
  >
    <app-featured [vehicle]="currentVehicle" [idx]="i"></app-featured>
  </div>
</div>
