
<div class="container">
  <div class="row">
    <div class="col text-center">
      <button  class="btn btn-primary" (click)="isTechRelated = !isTechRelated">change isTechRelated</button>
    </div>
  </div>
</div>
<div class="card mt-3 box">
  <p class="text-center"
  [ngStyle]="{backgroundColor: getBgColor()}"
  [ngClass]="{isTech: isTechRelated === true }"
  >Stuff from the article.html page</p>
  <p class="text-center" *ngIf="isTechRelated">Tech Related</p>
  <p class="text-center" *ngIf="!isTechRelated">Not Tech Related</p>
  <hr>
  <p class="text-center"> The instructions say to put "{{ title }}" here</p>
  <p class="text-center"> {{ content }} </p>
</div>
