<div class="row">
  <div class="col-md-12">
    <h2>Book Title</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Author</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>Genre</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <img src="" alt="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <small>Tags</small>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary">Edit book</button>
  </div>
</div>
